.tit-viajes-chile {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: grey;
}
.card, .parrafo-cel, button{
    border-color: white;
    background-color: lightseagreen;
}
.hero-section {
    position: relative;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.carousel {
    margin-top: 60px;
}
.arrow-up {
    cursor: pointer;
    margin-left: 10px;
}